.about {
    color: whitesmoke;
    background-color: rgb(25, 25, 25);
    padding: 50px 0px 0px;
}

.about > .title {
    text-align: center;
    color: rgb(228, 43, 59);
    font-size: 2.5em;
    letter-spacing: 2px;
    /* padding: 100px 0px 0px; */
}

.about > .about-content {
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.about > .about-content > .left-side {
    width: 450px;
    margin: 30px;
}

.about > .about-content > .left-side > .bio-description {
    /* margin: 30px; */
    padding: 20px 20px;
    border: 3px solid rgb(228, 43, 59);
    letter-spacing: 1px;
}

.about > .about-content > .right-side {
    width: 334px;
}

.about > .about-content > .right-side > .content-img img {
    width: 100%;
    height: 100%;
}

@media (max-width: 48em) {
    .about {
        /* height: 100vh; */
        display: flex;
        flex-wrap: wrap;
        padding: 50px 25px;
    }

    .about > .title {
        margin: auto;
    }

    .about > .about-content >.left-side {
        text-align: center;
    }

   .about > .about-content >.right-side {
       display: none;
   }
}